<img [src]="'https://image.tmdb.org/t/p/w300'+movie.poster_path" alt="movie.title" class="w-full h-full rounded-md object-contain md:col-start-1 md:col-end-3">    
<div class="md:col-start-3 md:col-end-6">
    <p *ngIf="movie.title" class="font-semibold text-lg py-2 h-14">{{movie.title}}</p>
    <p *ngIf="!movie.title" class="font-semibold text-lg py-2 h-14">Sin titulo</p>
    <p *ngIf="movie.release_date" class="text-gray-400 py-2">Fecha de estreno: {{movie.release_date}}</p>
    <p *ngIf="!movie.release_date" class="text-gray-400 py-2">Fecha de estreno: Sin fecha</p>
    <p class="max-w-full h-44">{{movie.overview.slice(0, 200)+ (movie.overview.length>200 ? "..." : "")}}</p>
    
</div>
<button class="rounded-md shadow-sm bg-red-400 w-full mt-4 py-2 col-start-1 col-end-6">Agregar a favoritos</button>