<main class="m-0 min-w-full bg-gray-900 text-white min-h-[100vh] h-full" role="main">
<!-- Header -->
 <header class="bg-gray-900 fixed w-full top-0 left-0 right-0 text-white">
  <nav class="mx-auto max-w-5xl w-full">
  <h1 class="text-bold text-2xl p-4">
    Your best movies
  </h1></nav>
 </header>
<!-- Buscador -->
<!-- Main content -->
<app-carrousel></app-carrousel>
<div class="mt-16 mb-16 mx-auto max-w-5xl">
  <app-buscador></app-buscador>
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer>
  <p class="bg-gray-600 text-white text-center font-semibold py-2">Hecho por David Alonso</p>
</footer>
</main>

